astropy
deepspeed
esbonio
fastdtw
few
fftw
gwdatafind
gwpy
gwsurrogate
lalsuite
librosa
ligotimegps
lisaorbits
numpy
matplotlib
pandas
pillow
pybind11
PyCBC
scikit-learn
scipy
speechbrain
statsmodels
tensorrt
torch
torchsummary
torchtext
torchvision
transformers