astropy
corner
deepspeed
esbonio
fastdtw
few
fftw
gwdatafind
gwpy
gwsurrogate
hydra-core
imbalanced-learn==0.11.0
lalsimulation
lalsuite
librosa
ligotimegps
lisaorbits
nflows
numpy
matplotlib
omegaconf
pandas
pillow
pybind11
PyCBC
rich
scikit-learn
scipy
speechbrain
statsmodels
tensorrt
torch
torchsummary
torchtext
torchvision
transformers
wandb