astropy
deepspeed
esbonio
fastdtw
few
fftw
gwpy
gwsurrogate
lalsuite
librosa
lisaorbits
numpy
matplotlib
pandas
pillow
pybind11
PyCBC
scikit-learn
scipy
speechbrain
statsmodels
tensorrt
torch
torchsummary
torchtext
torchvision
transformers